.row{
    max-width: 75rem;
    margin: 0 auto;
    &:not(:last-child){             //  not() - it selects every child except the last child 
        margin-bottom: 3rem; 
    }

    @include clearfix;

    [class^="col-"]{      //^ - starts with , * - contains , $ - end with (html ile ella class um check cheyyum enitt athile col- start cheyuna elements ine filter cheyyuth edukum) , class pole thane alt athupolathe attributes use cheyyam
        float: left;
        &:not(:last-child){      // col-1-of-2 enn name ulla last child 
            margin-right: $gutter-horizontal;
        }
    }
    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal}) / 2); //spacing sradikanam allel invalid syntax avum
    }
    .col-1-of-3{
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);   // 2 times gutter means 3 block inte edayil 2 gap varunath ine ane (like -  -  -) 
    }
    .col-2-of-3{
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }
    .col-1-of-4{
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);   // 3 times gutter means 4 block inte edayil 3 gap varunath ine ane (like -  -  -) 
    }

    .col-2-of-4{
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});   
    }

    .col-3-of-4{
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});   
    }

    
}



// <section class="grid-test">

// <div class="row">
//     <div class="col-1-of-2">
//         col-1-of-2
//     </div>
//     <div class="col-1-of-2">
//         col-1-of-2
//     </div>
// </div>

// <div class="row">
//     <div class="col-1-of-3">
//         col-1-of-3
//     </div>
//     <div class="col-1-of-3">
//         col-1-of-3
//     </div>
//     <div class="col-1-of-3">
//         col-1-of-3
//     </div>
// </div>

// <div class="row">
//     <div class="col-1-of-3">
//         col-1-of-3
//     </div>
//     <div class="col-2-of-3">
//         col-2-of-3
//     </div>
// </div>

// <div class="row">
//     <div class="col-1-of-4">
//         col-1-of-4
//     </div>
//     <div class="col-1-of-4">
//         col-1-of-4
//     </div>
//     <div class="col-1-of-4">
//         col-1-of-4
//     </div>
//     <div class="col-1-of-4">
//         col-1-of-4
//     </div>
// </div>

// <div class="row">
//     <div class="col-1-of-4">
//         col-1-of-4
//     </div>
//     <div class="col-1-of-4">
//         col-1-of-4
//     </div>
//     <div class="col-2-of-4">
//         col-1-of-4
//     </div>
// </div>

// <div class="row">
//     <div class="col-1-of-4">
//         col-1-of-4
//     </div>
//     <div class="col-3-of-4">
//         col-1-of-4
//     </div>
// </div>

// </section>