*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* (* il box-sizing inherit enn venam kodukan - to inherit the property to all the elements) */ }

body {
  box-sizing: border-box;
  /* (after giving inherit property on * we should give border-box on the body) */ }

body {
  font-family: "Lato", sans-serif;
  color: #777;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.7;
  padding: 30px;
  /*THIS PADDING GET APPLIED TO THE ENTIRE WEB PAGE(IT GIVE A WHITE BORDER ON THE WHOLE SITE)*/ }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem; }
  .heading-primary-main {
    display: block;
    font-size: 3.3rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-delay: 0.5s;
    /*it takes a 0.5s delay before playing the animation*/ }
  .heading-primary-sub {
    display: block;
    /*span element need to be converted to a block element to give a line break and to style the element*/
    font-size: 1rem;
    letter-spacing: 1.3rem;
    font-weight: 700;
    text-align: center;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-delay: 0.5s;
    /* animation-iteration-count: 3;   animation will happen 3 times */ }

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /*To center the button*/ }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(20deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-teritary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem; }

.paragraph {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

@keyframes moveInLeft {
  0% {
    /*starting stage  of animation*/
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    /*Ending stage of animation*/
    opacity: 1;
    transform: translatex(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.center-text {
  text-align: center; }

.margin-bottom-big {
  margin-bottom: 8rem; }

.margin-bottom-small {
  margin-bottom: 1rem; }

.margin-top-big {
  margin-top: 4rem; }

.margin-top-huge {
  margin-top: 10rem; }

.margin-bottom-medium {
  margin-bottom: 5rem; }

.btn:link, .btn:visited {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 40px;
  display: inline-block;
  /*anchor element style cheyumbo epozhum inline-block akitt venam style cheyam*/
  transition: all .2s;
  position: relative; }

.btn-white {
  background-color: #fff;
  color: #777;
  padding: 1rem 2.5rem; }
  .btn-white::after {
    background-color: #fff; }

.btn-green {
  background-color: #55c57a;
  color: #fff;
  padding: 1rem 2.5rem; }
  .btn-green::after {
    background-color: #55c57a; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /*step:1 click cheyuna effect ine vendi*/ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  /*click cheyumbo thazhott avana effect ine vendi*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /*step:2 click cheyuna effect ine vendi*/ }

.btn::after {
  content: "";
  width: 100%;
  /*100% of the buttons width*/
  height: 100%;
  /*100% of the buttons height*/
  display: inline-block;
  /*butti=on nte athe ith thane kodukanam*/
  border-radius: 40px;
  position: absolute;
  top: 0;
  /*orginal button nte back il ayitt varan vendi*/
  left: 0;
  /*orginal button nte back il ayitt varan vendi*/
  z-index: -1;
  /*orginal button nte back il ayitt varan vendi*/
  transition: all 0.4s; }

.btn-animate {
  animation: moveInBottom 0.4s ease-out .75s;
  animation-fill-mode: backwards;
  /*to make the button invisible before animation( 0% il koduthekana steps apply avum )*/ }

.btn-text:link, .btn-text:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  color: #55c57a;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
  padding: 0.5rem 1rem; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute; }
    .composition__photo__1 {
      top: 0;
      left: 0;
      transition: all 0.4s; }
      .composition__photo__1:hover {
        z-index: 1;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }
    .composition__photo__2 {
      top: 3rem;
      right: 5rem;
      transition: all 0.4s; }
      .composition__photo__2:hover {
        z-index: 1;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }
    .composition__photo__3 {
      top: 8rem;
      left: 14%;
      transition: all 0.4s; }
      .composition__photo__3:hover {
        z-index: 1;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5); }
  .composition:hover .composition__photo:not(:hover) {
    scale: 0.95; }

.features__box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem;
  font-size: 1rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s; }
  .features__box__icon {
    font-size: 3.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    color: transparent; }
  .features__box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 32rem; }
  .card__side {
    height: 30rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side__front {
      background-color: #fff; }
    .card__side__back {
      transform: rotateY(180deg); }
      .card__side__back-1 {
        background: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side__back-2 {
        background: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side__back-3 {
        background: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side__front {
    transform: rotateY(-180deg); }
  .card:hover .card__side__back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 13.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    background-blend-mode: screen; }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../../img/nat-6.jpg); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../../img/nat-7.jpg); }
  .card__heading {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    text-align: right;
    top: 9rem;
    right: 1rem;
    width: 70%; }
  .card__heading-span {
    padding: 0.8rem 1.3rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.85)); }
    .card__heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.85)); }
    .card__heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem; }
    .card__details ul li {
      text-align: center;
      font-size: 1rem;
      padding: 0.5rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 2rem;
    color: #fff; }
  .card__price-only {
    font-size: 1rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 4rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 4rem;
  font-size: 1rem;
  padding-left: 4rem;
  transform: skewX(-12deg); }
  .story__shape {
    width: 7.5rem;
    height: 7.5rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    float: left;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-1.5rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-2rem) scale(1.4);
    backface-visibility: hidden;
    transition: all 2s; }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    transition: all 2s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-2rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .2;
  backface-visibility: hidden;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0 20rem 0;
  margin-top: -20rem; }

.features {
  padding: 12rem 0;
  background-image: linear-gradient(to right, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -5.5rem; }
  .features > * {
    transform: skewY(7deg); }

.section-tours {
  padding: 15rem 0 3rem 0;
  margin-top: -6rem;
  background-color: #f7f7f7; }

.section-stories {
  position: relative;
  padding: 10rem 0 4rem 0; }

.section__book {
  padding: 8rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../../img/nat-10.jpg);
  height: 30rem;
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px; }
  .book__form {
    width: 50%;
    padding: 4rem; }

.header {
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("./img/hero.jpg");
  background-size: cover;
  background-position: top;
  /*fixed position il top nilkan vendi*/
  /*(x, y,x   y,  x   y   x  y) clock wise direction il ane x,y edukunath*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /*Hero section ile polygon shape varan vendi*/
  /*for a triangle the point are (50% 0, 100% 100%, 0 100%)*/
  /*refer : css clip path maker website for more coordinates*/
  position: relative; }
  .header__logos {
    /*in this case,  & === .header */
    position: absolute;
    top: 2.5rem;
    left: 2.5rem; }
  .header_logo {
    height: 2.2rem; }

.row {
  max-width: 75rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
