*{
    margin : 0;
    padding: 0;
  }

  $primary-color : #f9ed69;
  $color-secondary : #f08a5d;
  $color-teritary : #b835e;
  $width-button: 150px;
  
  nav{
    background-color: $primary-color; 
    &::after{                 //float cheyumobo background color invisible ayi so inganathe oru class use cheyutha background veendum visible avum 
    content: "";
    clear: both;                   
    display: table;
    }
  }
  .navigation{
    list-style: none;
    float: left;
    li{
       display: inline-block;
       margin-top: 20px;
       margin-left: 30px;
       &:first-child{                  //.navigation li:first-child
        margin: 0;
       }
       a {
        text-decoration: none;
        color: $color-secondary;
         text-transform: uppercase;
       }
     }
  }
  .button{
    float: right;
    .btn-main:link,
    .btn-hot:link{
      display: inline-block;
      padding: 20px;
      text-decoration: none;
      background-color: $color-secondary;
      color: #fff;
      border-radius : 100px;
      text-transform: uppercase;
      width: $width-button;
      text-align: center;
    }
    .btn-main{
      &:hover{
        background-color: darken($color-secondary, 15%);  //it darkens the background color by 15% || lighten() to make it lighten 
      }
    }
  }