@import "../abstracts/variables";

body{
    font-family: "Lato", sans-serif;
    color: $color-grey-dark;
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.7;
    padding: 30px; /*THIS PADDING GET APPLIED TO THE ENTIRE WEB PAGE(IT GIVE A WHITE BORDER ON THE WHOLE SITE)*/
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 3rem;

    &-main{
        display: block;
        font-size: 3.3rem;
        font-weight: 400;
        letter-spacing: 2rem;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-delay: 0.5s;  /*it takes a 0.5s delay before playing the animation*/
    }
    
    &-sub{
        display: block;  /*span element need to be converted to a block element to give a line break and to style the element*/
        font-size: 1rem;
        letter-spacing: 1.3rem;
        font-weight: 700;
        text-align: center; 
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-delay: 0.5s;
        /* animation-iteration-count: 3;   animation will happen 3 times */
    }
}
.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /*To center the button*/
}

